
{# <h1>{{ name }}</h1>#}
{% include '_header.html.twig' %}
{# creating condition for published article from Controller#}
    {% if article.published %}
    <article style="background-color: {{ article.color }}">
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
    </article>
{# Creating a new condition if published article is false#}
    {% else %}
    <p>{{ 'Cet article ne peut pas être publié' }}</p>
    {% endif %}
{% include '_footer.html.twig' %}
